.outer{

    background-color: aqua;
    width: 500px;
    height: 500px;
    margin: 0 auto;

}

.inner{

    background-color: fuchsia;
    width: 50%;
    height: 50%;
    /* transition: background-color 5s, transform 1s ease;*/
} 


.outer:hover .inner{

    /* background-color: green;
    transform: translateX(100%); */

    animation-name:travel;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; 
    /*ease in out yavaş başla yavaş bitir demektir*/ 
    /*animation: name duration timing-function delay iteration-count direction fill-mode;*/

    /* animation-fill-mode: forwards; */
    animation-iteration-count: 3; /*eğer infinite yaparsak sürekli olur*/
    /* animation-direction:alternate; */
    /* animation-direction: alternate-reverse; */
    animation-fill-mode: forwards;/*backwards seçeneği de var ama bu default değerdir!*/

    animation-delay: 2s;/*üzerine geldiğimde 2 saniye sonra başlasın. buraya eksi değer de verilebilir */

    /* animation: travel 2s ease-in-out 0.5  2 alternate forwards;  */ /*kısayol*/
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes travel {

    0%{/*yüzde sıfır anında yani başlangıç anında bunu yap*/
        transform: translateX(0);

    }

    33%{/*yüzde 33 anında bunu yap*/
        transform: translateY(100%);


    }

    66%{

        transform: translateX(100%) translateY(100%);


    }

    100%{

        transform: translateX(100%);


    }


    
}