*{
    box-sizing: border-box;
    margin: 0;

}

.container{
    
    display: grid;
    grid-template-columns: 200px 40vw 20rem;/*1.,2.ve 3.diye anla bu 3 tane şeyi. burada 3 tane sütun var ve rows da da 4 tane row var tani 3x4 lük bir gridimiz var*/
    grid-template-rows: 100px 500px 20vh 100px;/*100px ekledikten sonra bir tane row geldi en alta ama içerik olmazsa görünmez o içerik*/
    
}

.content{

    background-color: aqua;
    border: 2px solid black;

}