*{
    margin: 0;  
} 
  
.container{

    background-color: blue;
}  
  
.box1{ 
    background-color: orange;
}
 
  
.box2{
    background-color: green;
    border: 3px solid red;
    width: 100px;
    margin: 20px auto;

}

.box3{
    background-color: coral;
}


